{% load static %}
<html lang="en">
    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon.jpg'%}">
        {% if request.user.is_authenticated %}
        <p>{{request.user}}</p>
        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit">Logout</button>
        </form>
        {% else %}
        <a href="{% url 'login' %}">Login</a>
        {% endif %}  
        <title>Todo List</title>

    </head>
    <body>

        <div class="container">
        <div class="row">
            <div class="col l2"></div>
            <div class="col s12 m6 l8">
                {% for task in tasks %}
                <div class="card blue-grey darken-1">
                    <div class="card-content white-text">
                        <span class="card-title">{{task.title}}</span>
                        <p>Información referente a la tarea.</p>
                    </div>
                        <div class="card-action">
                            <a href="#">Editar tarea</a>
                            <a href="#">Eliminar</a>
                    </div>
            </div>
            {% endfor %}
            </div>
            <div class="col l2"></div>
        </div> 
        </div>




        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    </body>
</html>